@model SMS.ViewModel.Teacher.TeacherViewModel

<table id="teacherDetails" class="table table-bordered table-striped">
    @if (Model != null)
    {
        <thead class="tableheading text-center">
            <tr>
                <th id="sorting">@Html.DisplayNameFor(model => model.Teachers.First().TeacherRegNo)</th>
                <th id="sorting">@Html.DisplayNameFor(model => model.Teachers.First().DisplayName)</th>
                <th id="sorting">@Html.DisplayNameFor(model => model.Teachers.First().Email)</th>
                <th>@Html.DisplayNameFor(model => model.Teachers.First().Gender)</th>
                <th id="sorting">@Html.DisplayNameFor(model => model.Teachers.First().DOB)</th>
                <th id="sorting">@Html.DisplayNameFor(model => model.Teachers.First().Address)</th>
                <th id="sorting">@Html.DisplayNameFor(model => model.Teachers.First().ContactNo)</th>
                <th>@Html.DisplayNameFor(model => model.Teachers.First().IsEnable)</th>
                <th>Actions</th>
            </tr>
        </thead>
        @if (Model.Teachers.Any())
        {
            <tbody class="text-center" id="tableBody">
                @foreach (var item in Model.Teachers)
                {
                    var enableButton = item.IsEnable
                    ? $"<button type='button' class='btn btn-success' onclick=\"toggleEnable('{item.TeacherID}', false, '{item.DisplayName}')\"><i class='bi bi-toggle-on'></i></button>"
                    : $"<button type='button' class='btn btn-danger' onclick=\"toggleEnable('{item.TeacherID}', true, '{item.DisplayName}')\"><i class='bi bi-toggle-off'></i></button>";
                    var emailLink = $"<a href='mailto:{item.Email}'>{item.Email}</a>";
                    var contactLink = $"<a href='tel:{item.ContactNo}'>{item.ContactNo}</a>";
                    var id = item.TeacherID;

                    <tr>
                        <td>@item.TeacherRegNo</td>
                        <td>@item.DisplayName</td>
                        <td>
                            <i class="bi bi-envelope" data-toggle="tooltip" title="@item.Email" data-email="@item.Email" onclick="copyToClipboard(this)" style="cursor: pointer;"></i>
                        </td>
                        <td>@item.Gender</td>
                        <td>@String.Format("{0:" + SMS.Common.DateFormat.defaultDateFormat + "}", item.DOB)</td>
                        <td>@item.Address</td>
                        <td>
                            <i class="bi bi-telephone" data-toggle="tooltip" title="@item.ContactNo" data-contact="@item.ContactNo" onclick="copyToClipboard(this)" style="cursor: pointer;"></i>
                        </td>
                        <td>@Html.Raw(enableButton)</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" id="editBtn_@item.TeacherID" onclick="editTeacher('@item.TeacherID')"><i class='bi bi-pencil-fill'></i></button>
                            <button type="button" class="btn btn-sm btn-danger" id="deleteBtn_@item.TeacherID" onclick="deleteTeacher('@item.TeacherID',false,'@item.DisplayName')"><i class="bi bi-trash"></i></button>
                            <span id="allocated_@item.TeacherID" class='btn btn-primary'>Allocated</span>
                            <button type="button" class="btn btn-sm btn-info m-1" onclick="showTeacherDetails('@item.TeacherID')"><i class="bi bi-three-dots-vertical"></i></button>
                        </td>
                    </tr>

                    <!-- Example script to check if teacher is allocated -->
                    
                        <script>
                            $.ajax({
                            url: '/Teacher/IsTeacherAllocated',
                                type: 'GET',
                                data: { id: '@item.TeacherID' },
                                success: function (response) {
                                    if (response.isAllocated) {
                                        $('#editBtn_@item.TeacherID, #deleteBtn_@item.TeacherID').hide();
                                        $('#allocated_@item.TeacherID').show();
                                        } else {
                                        $('#allocated_@item.TeacherID').hide();
                                    }
                                }
                            });
                        </script>

                }
            </tbody>
            <tr>
                <td colspan="12" class="text-center">Page @Html.Raw(Model.PageNumber) of @Html.Raw(Model.TotalPages)</td>
            </tr>

            <script>
                var getTotalPage = @Html.Raw(Model.TotalPages);
            </script>
        }
        else
        {
            <tr>
                <td colspan="12" class="text-center">No data found</td>
            </tr>
        }
    }
</table>


<div id="teacherDetailsPopup" class="teacher-details-popup">
    <div class="teacher-details-content">
        <button type="button" class="close btn-danger" id="closeTeacherDetailsPopup"><i class="bi bi-x-lg"></i></button>
        <div id="teacherDetailsContent">
            <!-- Teacher details will be loaded here -->
        </div>
    </div>
</div>




<div class="container-fluid">
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-container">
            <li class="page-item mr-auto" id="prevButton">
                <a class="page-link" href="#" aria-label="Previous" onclick="previousData()">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item ml-auto" id="nextButton">
                <a class="page-link" href="#" aria-label="Next" onclick="nextData()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>



</div>
@section Scripts {
    <script src="~/js/teacher.js" asp-append-version="true"></script>
}
