@model SMS.ViewModel.Student.StudentViewModel
<h2>Student List</h2>
<table>
    <thead>
        <tr>
            <th>Registration No</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Display Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Address</th>
            <th>Contact No</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.StudentRegNo</td>
                <td>@student.FirstName</td>
                <td>@student.MiddleName</td>
                <td>@student.LastName</td>
                <td>@student.DisplayName</td>
                <td>@student.Email</td>
                <td>@student.Gender</td>
                <td>@String.Format("{0:" + SMS.Common.DateFormat.defaultDateFormat + "}", student.DOB)</td>
                @* <td>@student.DOB.ToString("yyyy-MM-dd")</td> *@
                <td>@student.Address</td>
                <td>@student.ContactNo</td>
                <td>@(student.IsEnable ? "Enabled" : "Disabled")</td>
            </tr>
        }
    </tbody>
</table>
